{%- extends "layout.njk" -%}
{%- block content -%}
<div class="center">
	<h1>{{data.title}}</h1>
	<h2>{{data.cmd}}</h2>
</div>
<div class="row fadeIn">
{# each card in list of items #}
{%- for task in config -%}
<div class="col s12 m6 l3">
	<div class="card-panel center shrink">
		<h4>{{task.title}}</h4>
		<h6 class="tsk-desc">{{task.description}}</h6>
		<button class="btn tsk-btn" value="{{task.cmd}}" onclick="document.getElementById('buildTask').value = this.value">Select task</button>
	</div>
</div>
{%- endfor -%}
</div>
{%- include "includes/bottomPanel.njk" -%}
{%- endblock -%}
