#content {
    color: #494949!important;
    background: #1b1b1b!important;
}

.card-panel {
    background-color: #1b1b1b!important;
}

button{
  background: #101010;
  color: #363636;
}

button:hover{
  background-color: #b1b1b1;
  box-shadow: 0 0 10px #9e9e9e;
}

button:focus {
  background-color: #b1b1b1;
  box-shadow: 0 0 10px #9e9e9e;
}
